@model FaturaTakip.Models.Invoice.response.InvoiceResponseModel
<style>
	#mustBeUnvisibleAddScreen {
		color: #00688b;
	}
</style>
<div class="row mt-4" style=" flex: 1; margin-left: 0px;margin-right: 0px;">
	<div class="col-0 col-sm-1">
	</div>
	<div class="col" style="padding-left: 0px; padding-right: 0px;">
		<form method="post" action="/Invoices/Edit">
			<div class="row d-flex">
				<div class="col-6 pe-1">
					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Fatura Numarası: </label>
						@Html.TextBoxFor(x=>x.FaturaNo, new { @class = "form-control", type = "number", value=Model.FaturaNo})
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Fatura Tarihi: </label>
						@Html.TextBoxFor(x=>x.FaturaTarihi, new { @class = "form-control", type = "text" , value=Model.FaturaTarihi})
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Sipariş Numarası: </label>
						@Html.TextBoxFor(x=>x.SiparisNo, new { @class = "form-control", type = "number" , value=Model.SiparisNo})
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Sipariş Tarihi: </label>
						@Html.TextBoxFor(x=>x.SiparisTarihi, new { @class = "form-control", type = "text" , value=Model.SiparisTarihi})
					</div>
					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Müşteri: </label>
						@Html.DropDownList("MusteriID", ViewData["MusteriListesi"] as SelectList,new { @class = "form-control" , value=Model.MusteriID})
					</div>
					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Ürün: </label>
						@Html.TextBoxFor(x=>x.Urun, new { @class = "form-control" , value=Model.Urun})
					</div>
				</div>
				<div class="col-6 ps-1">
					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Miktar: </label>
						@Html.TextBoxFor(x=>x.Miktar, new { @class = "form-control" , type = "number",  value=Model.Miktar})
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Birim Fiyat: </label>
						@Html.TextBoxFor(x=>x.BirimFiyat, new { @class = "form-control", type = "text" , value=Model.BirimFiyat})
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Kdv: </label>
						@Html.TextBoxFor(x=>x.KDV, new { @class = "form-control", type = "text" , value=Model.KDV})
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Kdv Oranı: </label>
						@Html.TextBoxFor(x=>x.KDVOrani, new { @class = "form-control", type = "text" , value=Model.KDVOrani})
					</div>
					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Ödenecek Tutar: </label>
						@Html.TextBoxFor(x=>x.OdenecekTutar, new { @class = "form-control", type = "text" , value=Model.OdenecekTutar})
					</div>
				</div>
			</div>
			<div class="row d-flex justify-content-between m-1">
				<button type="button" class="btn" id="mustBeUnvisibleAddScreen" style="width: 25%; background-color: #cd5555; color: white;">Sil</button>
				<button type="submit" class="btn" style="width: 25%; background-color: #43cd80; color: white;">Onayla</button>
			</div>
			<div class="row d-flex justify-content-center">
			</div>
		</form>
	</div>
	<div class="col-0 col-sm-1">
	</div>
</div>

