@model FaturaTakip.Models.Customer.response.CustomersResponseModel
<style>
	#mustBeUnvisibleAddScreen {
		color: #00688b;
	}
</style>
<div class="row mt-4" style=" flex: 1; margin-left: 0px;margin-right: 0px;">
	<div class="col-0 col-sm-1">
	</div>
	<div class="col" style="padding-left: 0px; padding-right: 0px;">
		<form method="post" action="/Customers/Edit">
			<div class="row d-flex">
				<div class="col-6 pe-1">
					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Müşteri Ad: </label>
						<input type="text" id="ad" class="form-control" placeholder="Müşteri Ad" value="@Model.Ad" name="Ad"/>
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Müşteri Soyad: </label>
						<input type="text" id="soyad" class="form-control" placeholder="Müşteri Soyad" value="@Model.Soyad" name="Soyad" />
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Adres: </label>
						<input type="text" id="adres" class="form-control" placeholder="Adres" value="@Model.Adres" name="Adres" />
					</div>
				</div>
				<div class="col-6 ps-1">
					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> E posta: </label>
						<input type="email" id="eposta" class="form-control" placeholder="E posta" value="@Model.Eposta" name="Eposta" />
					</div>

					<div class="form-outline mb-1">
						<label for="" class="ms-1" id="mustBeUnvisibleAddScreen"> Telefon No: </label>
						<input type="number" id="telefonNo" class="form-control" placeholder="Telefon No" value="@Model.TelefonNo" name="TelefonNo" />
					</div>

				</div>
			</div>
			<div class="row d-flex justify-content-between m-1">
				<a type="button" class="btn" id="mustBeUnvisibleAddScreen" href="/customers/delete/?customerID=@Model.MusteriID" style="width: 25%; background-color: #cd5555; color: white;">Sil</a>
				<button type="submit" class="btn" style="width: 25%; background-color: #43cd80; color: white;">Onayla</button>
			</div>
			<div class="row d-flex justify-content-center">
			</div>
		</form>
	</div>
	<div class="col-0 col-sm-1">
	</div>
</div>

