@using FaturaTakip.Models.Customer.response
@model List<CustomersResponseModel>
<div class="row mt-4" style=" flex: 1; margin-left: 0px;margin-right: 0px;">
	<div class="col-0 col-sm-1">
	</div>
	<div class="col" style="padding-left: 0px; padding-right: 0px;">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col" id="tableCols">Müşteri ID</th>
						<th scope="col" id="tableCols">Ad</th>
						<th scope="col" id="tableCols">Soyad</th>
						<th scope="col" id="tableCols">Adres</th>
						<th scope="col" id="tableCols">E posta</th>
						<th scope="col" id="tableCols">Telefon No</th>
						<th scope="col" id="tableCols">Müşteri Sipariş Numaraları</th>
						<th scope="col" id="tableCols"></th>
					</tr>
				</thead>
				<tbody>
					@{
						int i = 1;
					}
					@foreach (var customer in Model)
					{
						if (customer.Durum)
						{
							<tr>
								<th scope="row" id="tableRows">@i</th>
								<td id="tableRows">@customer.Ad</td>
								<td id="tableRows">@customer.Soyad</td>
								<td id="tableRows">@customer.Adres</td>
								<td id="tableRows">@customer.Eposta</td>
								<td id="tableRows">@customer.TelefonNo</td>
								<td id="tableRows">
									@foreach (var customerOrderNo in @customer.musteriIdAndSiparisNo)
									{
										<a href="/invoices/edit/?invoiceID=@customerOrderNo.FaturaID" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">@customerOrderNo.SiparisNo</a>
									}
								</td>
								<td id="tableRows"><a class="btn " style="color: white; background-color: #528b8b;" href="/customers/edit/?customerID=@customer.MusteriID">Düzenle</a></td>
							</tr>
							i++;
						}
					}
				</tbody>
			</table>
		</div>
		<a class="btn" style="color: white; background-color: #43cd80;" href="/customers/add">Yeni Müşteri Ekle</a>
	</div>
	<div class="col-0 col-sm-1">
	</div>
</div>

